@import "./mixin";

.menu-show {
    .menu {
        max-height: 500px;
    }
}
.email-input {
    @include inputDiv;
    &:before {
        @include emailIcon;
    }
    input {
        @include inputText;
    }
}
.password-input {
    &:before {
        @include passwordIcon;
    }
    @include inputDiv;
    input {
        @include inputText;
    }
}
/* 動畫 */
.animated {
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(50px);
}
.fadeIn {
    opacity: 1;
    transform: translateY(0);
}
