$font-brown:#3D1101;
$font-arrow:green;
$font-white:#fff;
$font-gray:#979797;
$shadow-gray:#7b7b7b;
$background-red:red;
$background-light:#efe9e7;
$background-deep:#f6f4f3;
$btn-gray:#a09e9e;
$btn-orange:#f56c23;
$fb-color:#3a5795;
$tw-color:#41abe1;
$gplus-color:#db4437;
$ribbon-color:#00cc99;
$order-orange:#ff5e45;
$border-gray:#6b6b6b;
$btn-secondary:rgba(0,0,0,0.35);

